<% include partials/top.html %>
    <div class="navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">SMART CCDA Receiver</a>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>SMART Apps ahead!  </h1>
        <p>Sign in below to run apps on the SMART CCDA Receiver</p>
        <p><button tabindex="0" autofocus id="sign-in" class="btn btn-primary btn-large">Sign in securely with Persona &raquo;</button></p>
         <p><button tabindex="1" id="fake-sign-in" class="btn btn-primary btn-large">Fake sign-in with teststrategy &raquo;</button></p>
      </div>

      <% include partials/approw.html %>

    </div> <!-- /container -->
<% include partials/bottom.html %>
