<div ng-controller="PatientSearchController">
  <div class="row">
    <div class="span6">
      <div id="patient-results" ng-cloak>
        <table class="table table-striped table-hover table-condensed">
          <tr class="patient-row" ng-click="select($index)" ng-repeat="result in patients">
            <td class="gender" ng-bind-html-unsafe="genderglyph[result.gender]"></td>
            <td class="name">
              <span ng-bind="patientHelper.name(result)"></span>
            </td>
            <td><i><span ng-bind="result.birthTime | date"/></i></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
