<div ng-controller="UserStatsController" >
  <h1><div class="step-bubble"><span>!</span></div>Your Blue Button Stats</small></h1>

  <h2>Your medical records</h2>
  <h3 ng-show="!patients.length">(No patients.)</h3>
  <div id="patient-results" ng-include="'/static/abbi/templates/patient-search.html'">
  </div>

  <h2>Authorized Apps</h2>
  <h3 ng-show="!authorizations.length">(No events.)</h3>
  <div ng-repeat="auth in authorizations">
    <em> {{auth.created | date}}</em>
    <img ng-src="{{auth.app.icon}}">
    Authorized: <b>{{auth.app.name}}</b>
    To access: <b>{{patientName(auth.patient)}}</b>
    <button class='btn'>Revoke</button>
    <hr>
  </div>

</div>

