/* Custom Styles */

.comparison h2{
   font-size: 20px;
   margin-top: 0px;
}

body {
   padding-top: 60px;
   overflow-y: scroll;
}

.controls {
   margin-bottom: 1em;
}
#pasteHere {
   width: 100%
}

.scoreOneline {
   width: 90%;
}

.scorePoints {
   width: 10%;
   font-weight: bold;
}

.rubricDetail{}
.comparison {margin-bottom: 0.5em;}
.grade {margin-right: 10px;}

.headerTable {
   display: inline-block; margin-bottom: 0.2em;
}

.scoreTable  td.scoreOneline, .scoreTable td.scorePoints {
   cursor: pointer;
}
.pointer{
   cursor: pointer;
   float: right;
   font-size: 14px;
}

.tweetButton{
  float: right;
  margin-top: 16px;
}
.pointer:last-child{
   margin-left: 1em;
}

.spaceRight{
   margin-right: 1em;
}

.fadedIn {
   opacity: 1;
}

.fadedOut {
   opacity: 0;
}
.detailRow{
   padding-bottom: 1.5em;
}

table h2 {margin-bottom: 0em;}

.histogram {
   float: right;
   text-align: center;
   font-style: italic;
}


.chart rect {
   fill: lightslategrey;
   shape-rendering: crispEdges;
   stroke: white;
}
.chart line {
   stroke: steelblue;
}

.chart text {
   color: blueblack;
   font-size: 8pt;
}

#overall{
  display: inline-block;
  vertical-align: middle;
  margin-right: .5em;
}
