<% if (misses.length > 0) {%>

<h2>
<%= misses.length %> of <%= (misses.length + hits.length)%> 
lab result codes weren't in the recommended value sets
</h2>

<p>
Recommended: <a target="_blank" href="http://loinc.org/usage/obs">
LOINC Top 2000 Codes
</a>
</p>

<p>
Note: This may be normal, if this C-CDA document includes unusual labs for
which no common LOINC code exists.  But look through the un-matched codes
below to make sure you don't have a mapping error in your export pipeline.
</p>

<% include partials/codeTable%>

<% } %>
