<% if (misses.length > 0) {%>

<h2>
<%= misses.length %> of <%= (misses.length + hits.length)%> 
lab result codes weren't in the recommended value set
</h2>

<p class="muted">
<strong>Note:</strong> This may be normal, if this C-CDA document includes unusual labs for
which no common LOINC code exists.  But look through the un-matched codes
below to make sure you don't have a mapping error in your export pipeline.
</p>

<p><strong>Recommended value set:</strong>
<ul>
<li>
<a target="_blank" href="http://loinc.org/usage/obs">
LOINC Top 2000 Codes
</a>
</li>
</ul>
</p>

<% include partials/codeTable%>

<% } %>
