<% if (misses.length > 0) {%>

<h2>
<%= misses.length %> of <%= (misses.length + hits.length)%> 
medication codes weren't in the recommended value sets
</h2>


<p>
<strong>Recommended value sets:</strong>
<ul>
<li>
<a target="_blank" href="http://phinvads.cdc.gov/vads/ViewValueSet.action?oid=2.16.840.1.113883.3.88.12.80.17">
HITSP Clinical Drug
</a>
</li>
<li>
<a target="_blank" href="http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html">
Current RxNorm SCD + GPCK codes
</a>
</li>
<li>
<a target="_blank" href="http://www.nlm.nih.gov/research/umls/rxnorm/docs/rxnormfiles.html">
Current RxNorm SBD + BPCK codes
</a>
</li>
</ul>
</p>

<% include partials/codeTable%>

<%}%>
