<% if (misses.length > 0) {%>

<h2>
<%= misses.length %> of <%= (misses.length + hits.length)%> 
medication codes weren't in the recommended value sets
</h2>


<p>
Recommended: <a target="_blank" href="http://phinvads.cdc.gov/vads/ViewValueSet.action?oid=2.16.840.1.113883.3.88.12.80.17">
HITSP Clinical Drug
</a><br>
The expanded edition of this value set includes all current RxNorm SCD, SBD, GPCK, and BPCK terms.
</p>

<% include partials/codeTable%>

<%}%>
