<% if (misses.length > 0) {%>

<h2>
<%= misses.length %> of <%= (misses.length + hits.length)%> 
problem codes weren't in the recommended value sets
</h2>

<p>
Recommended value sets:
<ul>
<li>
<a target="_blank" href="http://phinvads.cdc.gov/vads/ViewValueSet.action?oid=2.16.840.1.113883.3.88.12.3221.7.4">
HITSP Problem List
</a>
</li>
<li>
<a target="_blank" href="http://www.nlm.nih.gov/research/umls/Snomed/core_subset.html">
SNOMED CT CORE Problem List
</a>
</li>
</ul>
</a>
</p>

<p>
Note: This may be normal, if this C-CDA document includes unusual problems for
which no appropriate SNOMED code exists.  But look through the un-matched codes
below to make sure you don't have a mapping error in your export pipeline.
</p>

<% include partials/codeTable%>
<% } %>
