<% include partials/top.html %>
<% include partials/authenticated-nav.html %>
<script>
  var user = <%- JSON.stringify(user)%>;
  var publicUri = <%- JSON.stringify(publicUri)%>;
</script>
<script src="/static/angular/angular.js"></script>
<script src="/static/smartBox/modules.js"></script>
<script src="/static/smartBox/services.js"></script>
<script src="/static/smartBox/directives.js"></script>
<script src="/static/abbi/modules.js"></script>
<script src="/static/abbi/controllers.js"></script>
<div ng-app="abbi" ng-controller="MainController" >
  <div ng-view>

  </div>
</div>
<% include partials/bottom.html %>
